#MySql Live
#DB_HOST=db #run with docker
DB_HOST=127.0.0.1 #run without docker
DB_DRIVER=mysql
DB_USERNAME=<Your_Username>
DB_PASSWORD=<Your_Password>
DB_NAME=<Your_DB_Name>
DB_PORT=3306

#MySql Test (Change Them For Test)
TEST_DB_HOST=127.0.0.1
TEST_DB_DRIVER=mysql
TEST_DB_USERNAME=<Your_Username>
TEST_DB_PASSWORD=<Your_Password>
TEST_DB_NAME=<Your_DB_Name>
TEST_DB_PORT=3306

SECRET_TOKEN=<Your_Secret_TOken>

FACEBOOK_TOKEN=<Your_Facebook_TOken>
